APP_NAME=SIPARSUB
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=siparsub
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BCRYPT_ROUNDS=12

ADMIN_NAME="Super Admin SIPARSUB"
ADMIN_EMAIL=superadmin@siparsub.test
ADMIN_PASSWORD=password
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=alamat_email_pengirim
MAIL_PASSWORD=app_password_email
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=alamat_email_pengirim
MAIL_FROM_NAME="SIPARISUB"

QUEUE_CONNECTION=sync
